{% extends 'base.html.twig' %}

{% block body %}

    <h1>Search in categories</h1>
    <form action="{{ path('homepage') }}">
        <libe for="searchName">
            Search by name
        </libe>
        <input id="searchName" name="q_name" type="text">
        <lible for="searchDate">
            Search by date
        </lible>
        <input id="searchDate" placeholder="search by date" name="q_date" type="date">
        <button>submit</button>
    </form>

    {% if categorysFilter %}
        <h1>Category Found</h1>
        <div class="jumbotron">
            <ul class="nav nav-pills">
                {% for category in categorysFilter %}
                    <li><a href="{{ path('category_single', {'id': category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h1>All categories</h1>
    <div class="jumbotron">
        <ul class="nav nav-pills">
            {% for category in categorys %}
                <li>
                    <a href="{{ path('category_single', {'id': category.id}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
